In [ ]:
Kinds of functions available for Strings
1. Lowercases all the letters of the str doesn't care numericals in str = .lower() Works inplace = False
2. Capitalizes just the first letter of the full string = .capitalize() Works inplace = False
3. Uppercases all the letters of the str doesn't care numericals in str = .upper() Works inplace = False
4. Replaces letter to letter, letter to char , char to letter = .replace('old','new') Works inplace = False
5. Strips spaces at both ends of the strings = .strip() Works inplace = False
   Strips spaces at right end = .rstrip() Works inplace = False
   Strips spaces at lef end = .lstrip() Works inplace = False
6. Get the letter/str/sign index number after said index number in string = .find('ele', range(optional)) gives the index number
   of the first occurence in the range.
   .rfind('ele', range(optional)) gives index number of the last occurrence within the range
   .rindex() same as .rfind() but gives error when 'ele' not found whereas .rfind() func gives -1.
7. Counts the no.of occurrences of letter/char in the string = .count('ele', range(optional)) 
8. Returns a centered string with borders filling given arg/letter = .center(number, 'single') number should be more than the
   length of the string for the function to work, and letter/arg/sign should be a single one.
    .ljust() induces singles at the right side, .rjust() induces singles at the left side
9. Endswith specified char/string/letter or not = .endswith() Logical Function
10. Expands tabs by given size by including spaces = .expandtabs(tabsize=2). Works inplace = False
11. Inserts strings into curly braces = .format() Takes more than one argument also Works inplace = False 
12. If insert strings are keys of a dic = .format_map(dic) Not necessary that braces should be equal to no.of key elements of 
    the dictionary but definitely should not be less.
13. To get the index number of 1st occurrence of the letter/char = .index('ele') 
    .rindex('ele','range') this function is mainly used for knowing index number within a range so naturally not the first 
    occurrence we would search for.
14. If the str is all alphabetical and not heterogenous = .isalpha() Logical Function
15. If the str is both alphabetical and numeric = .isalnum() Logical Function
16. If the str is a number without decimals = .isdigit() Logical Function
17. If the str is a valid python identifier = .isidentifier() Logical Function (need information on usage)
18. If the str is printable = .iprintable() Logical Function
19. If the str is just a space string and no other chars are present = .isspace() Logical Function
20. If all words of the str have First letter capitals = .istitle() Logical Function
21. string separator is used to join sequence = .join('sequence/iterable') Need more examples for practice
22. Index to index replacement of characters denominated into a string = .maketrans(intab, outtab) check for more idea
    Thinking good for encryption. But intab indices must be equal to outtab indices.
23. Cutting the string into 3 pieces of strings based on the 1st occurrence of separator letter/char/sign = .partition('ele') 
    Cutting the string into 3 pieces of strings based on the last occurrence of separator letter/char/sign = .rpartition('ele')
24. Splits the str based on 1st occurrence of separator and gives in a list = .split() output is two strings
    Splits the str based on last occurrence of separator and gives in a list = .rsplit() output is two strings
25. Takes \n and newlines are expressed = .splitlines() Works inplace = False
26. If the string startswith 'ele' = .startswith()
27. Make small case letter as large case letter and vice versa = .swapcase()        Works inplace = False
28. Make starting letter of every word in the string capital/upper case = .title()   Works inplace = False
29. Fill zeros in the starting of the string = .zfill(num) number should be more than the no.of indices of string to find output

In [ ]:
# Need to try partition func on separating Mr. Mrs before names

In [ ]:
# str.translate()  # encoding related needs revisit

In [ ]:
# str.txt() # func function not known.

In [ ]:
# str.join() func , where did we use it.

# Strings #

In [1]:
apple = input('Enter:')

Enter:25

In [2]:
x = apple - 10

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [3]:
x = int(apple) - 10
print(x)

15

In [4]:
fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [5]:
x = 3
w = fruit[x-1]
print(w)

n

In [6]:
fruit = 'banana'
x = len(fruit)
print(x)

6

In [7]:
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [8]:
fruit = 'banana'
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [9]:
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index +1

b
a
n
a
n
a

In [10]:
word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
        count = count + 1
print(count)

3

In [11]:
s = 'Monty Python'

In [12]:
s[:8]

'Monty Py'

In [13]:
s[2:]

'nty Python'

In [14]:
s[3:36]

'ty Python'

In [15]:
'n' in fruit

True

In [16]:
'nan' in fruit

True

In [17]:
'm' in fruit

False

In [18]:
if 'a' in fruit:
    print('Found it!')

Found it!

In [19]:
word

'banana'

In [20]:
# String Comparison

if word == 'banana':
    print ('All right, bananas.')
    
if word < 'banana':
    print('Your word, '+ word + ', comes before banana.')
elif word > 'banana':
    print('Your word, '+ word + ', comes after banana.')
else:
    print('All right, bananas.')

All right, bananas.
All right, bananas.

In [21]:
if word < 'banana':
    print('Your word, '+ word + ', comes before banana.')
elif word > 'banana':
    print('Your word, '+ word + ', comes after banana.')
else:
    print('All right, bananas.')

All right, bananas.

In [22]:
abc = 'SUPERCALIFRAGILISTIC ACTION45454'
print(abc.lower())

supercalifragilistic action45454

In [23]:
abc

'SUPERCALIFRAGILISTIC ACTION45454'

In [24]:
print('SOMETHING SOMETHING'.lower())

something something

In [25]:
stuff = 'Hello world'
type(stuff)

str

In [26]:
dir(stuff)                                             #$ what fuctions for a  variable

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# str.capitalize() # First letter is capitalized  (inplace=False)

In [27]:
print(abc.capitalize())

Supercalifragilistic action45454

In [28]:
abc

'SUPERCALIFRAGILISTIC ACTION45454'

# str.lower() # string letters are all lowered and returned (inplace=False)

In [29]:
c='BN'
c.lower()

'bn'

In [30]:
c.capitalize()

'Bn'

In [31]:
fruit = "banana"
fruit.find('na')

2

In [32]:
# If the word we are finding in the string is not there in the string it returns -1

fruit.find('z')

-1

# str.upper() # string letters are all uppered and returned (inplace=False)

In [33]:
abc.upper()

'SUPERCALIFRAGILISTIC ACTION45454'

In [34]:
abc.lower()

'supercalifragilistic action45454'

In [35]:
x = abc.upper()
print(x)

SUPERCALIFRAGILISTIC ACTION45454

In [36]:
y = abc.lower()
print(y)

supercalifragilistic action45454

# str.replace('old','new') # replace one with another (inplace=False)

In [37]:
greet = 'Hello Bob'

x = greet.replace('Bob','Jane')
x

'Hello Jane'

In [38]:
abc.replace('I','y')

'SUPERCALyFRAGyLySTyC ACTyON45454'

In [39]:
abc

'SUPERCALIFRAGILISTIC ACTION45454'

In [40]:
u = greet.replace('o', 'ir')
u

'Hellir Birb'

# str.strip() # strips spaces at both ends (inplace=False)

In [41]:
tinn = '         Benkatraghava     '
tinn.lstrip()

'Benkatraghava     '

In [42]:
tinn.rstrip()

'         Benkatraghava'

In [43]:
tinn.strip()

'Benkatraghava'

In [44]:
tinn                 # Need to assign to new variable to have .strip() func to be in effect

'         Benkatraghava     '

In [45]:
data = 'From stephen.marquart@uct.ac.za Sat Jan 5 09:14:16 2008'
atpos = data.find('@')
print(atpos)

21

In [46]:
sppos = data.find(' ',1)        # space after 1st index is at 4th index
print(sppos)

4

In [47]:
sppos = data.find(' ',60)        # After 60th index there is no space, hence -1
print(sppos)

-1

In [48]:
sppos = data.find(' ',21)        # space after 21st index is at 31st index only
print(sppos)

31

In [49]:
csfkj = data.find('uc',0)
print(csfkj)

22

In [50]:
data.find('uc')

22

# Trick to get email domain from the string

In [51]:
host = data[atpos+1:sppos]               # @position to space position
print(host)

uct.ac.za

# str.count() # gives the count of number of occurrences of specific obj (inplace=False)

In [52]:
t = 'supercalifragislisticexpiliadocious'
t.count('i')

7

In [53]:
t.count('a',2,29)

3

# str.casefold is equal to str.lower as far as english language is concerned

# str.center(result index length, 'fillchar')

In [54]:
abc.center(50,'a')  # Length of the result is 50 indices, can take only one as fill char.

'aaaaaaaaaSUPERCALIFRAGILISTIC ACTION45454aaaaaaaaa'

In [55]:
abc.center(50,'@')

'@@@@@@@@@SUPERCALIFRAGILISTIC ACTION45454@@@@@@@@@'

In [56]:
woslsl='THis is so huge?'
woslsl.center(17,'i')

'iTHis is so huge?'

str.encode()  # Need further study

# str.endswith() logical function

In [57]:
abc.endswith('N45454')

True

# str.expandtabs()

In [58]:
x = 'What\ta\tbeauty\tis\tthis\tworld'

In [59]:
x.expandtabs()

'What    a       beauty  is      this    world'

In [60]:
x

'What\ta\tbeauty\tis\tthis\tworld'

In [61]:
x.expandtabs(tabsize=4)

'What    a   beauty  is  this    world'

In [62]:
x.expandtabs(tabsize=1)

'What a beauty is this world'

In [63]:
x = x.expandtabs(tabsize=1)

In [75]:
x.find('u')

10

In [82]:
x[10]

'u'

# str.format() # mostly used in print statements (inplace = False)

In [83]:
x.format('kjdf')                                         #$ .format

'What a beauty is this world'

In [84]:
x = 'What {} beauty is this world'

In [85]:
x.format('is this')

'What is this beauty is this world'

In [86]:
x = 'What {} beauty {} this world'

In [87]:
x.format('is this','over')

'What is this beauty over this world'

In [88]:
x

'What {} beauty {} this world'

In [89]:
x = 'What a beauty is this world'

# str.format_map(a) func input argument a is a dict

In [90]:
a = {'x':"geeksforgeeks", 'y':'b'}                                        #$ Important concept

In [91]:
'{x} {y}'.format_map(a)   # a is a dictionary .format inputs keys of dictionary into string.

'geeksforgeeks b'

In [92]:
a = {'x':"geeksforgeeks", 'y':'b', 'z':'nothing'}

In [93]:
'{x} {y}'.format_map(a)

'geeksforgeeks b'

In [94]:
x.index('a')  # Gives the first occurence index number of the element

2

In [95]:
x.index('this')

17

In [96]:
x.isalnum()

False

In [97]:
word.isalpha()

True

In [98]:
host

'uct.ac.za'

In [99]:
host.isalpha()

False

In [100]:
greet

'Hello Bob'

In [101]:
greet.isalpha()    #$ isalpha() gives true if the string contains only letters and not dots and spaces etc

False

In [102]:
x.isascii()

True

In [103]:
hal = 'F16'

In [104]:
hal.isascii()

True

In [105]:
Russia = 'Mig21'

In [106]:
Russia.isascii()

True

In [107]:
Russia = 'Mig@21'

In [108]:
Russia.isascii()   # isascii has to deal with binary, character numerical representation happening behind.

True

In [109]:
x.isdecimal()

False

In [110]:
a = '2151'

In [111]:
a.isdecimal()

True

In [112]:
a = '2151'

surprise

In [113]:
a.isdecimal()  # Floats are not decimals

True

In [114]:
a = '2151.12'

In [115]:
a.isdecimal()

False

In [116]:
x.isdigit()

False

In [117]:
a.isdigit()       # Decimal strings get false with isdigit() func

False

In [118]:
a = '564525'

In [119]:
a.isdigit()

True

In [120]:
a.isalnum()

True

In [121]:
a.isnumeric()

True

# isidentifier()

Return True if the string is a valid Python identifier, False otherwise.

In [122]:
x.isidentifier()

False

In [123]:
x

'What a beauty is this world'

In [124]:
fruit.isidentifier()

True

In [125]:
fruit

'banana'

In [126]:
tinn.isidentifier()

False

In [127]:
tinn

'         Benkatraghava     '

In [128]:
host.isidentifier()

False

In [129]:
Russia

'Mig@21'

In [130]:
Russia.isidentifier()

False

In [131]:
hal.isidentifier()

True

In [132]:
hal

'F16'

In [133]:
x.isprintable()

True

In [134]:
hal.isprintable()

True

In [135]:
data.isprintable()

True

# str.isspace() # Returns True if all of the string is a whitespace string, False otherwise.

In [136]:
x.isspace()

False

In [137]:
tinn.isspace()

False

In [138]:
j = '            '

In [139]:
j.isspace()

True

# str.istitle() gives True if all words of the string have capitalized first letter and lower case following letters

In [140]:
#   ex: 'This Is American Police' istitle() gives True
 #      'This is american police' istitle() gives False

In [141]:
x.istitle()

False

In [142]:
abc

'SUPERCALIFRAGILISTIC ACTION45454'

In [143]:
abc.istitle()

False

In [144]:
abc = abc.capitalize()

In [145]:
abc.istitle()

False

In [146]:
fruit

'banana'

In [147]:
fruit = fruit.capitalize()

In [148]:
fruit.istitle()

True

# str.join() # Need to come again here

Syntax       "joining element".join(seq)                                 #$

In [157]:
s = "-"
seq = ("a", "b", "c") # This is sequence of strings.
print (s.join( seq ))

a-b-c

In [158]:
xys = ['Show','How','You','Have','solved','this','problem','007']
s = '\t'
s.join(xys)
jab = s.join(xys)

In [159]:
jab

'Show\tHow\tYou\tHave\tsolved\tthis\tproblem\t007'

In [160]:
jab=jab.expandtabs(tabsize=1)

In [161]:
jab = jab*3
jab

'Show How You Have solved this problem 007Show How You Have solved this problem 007Show How You Have solved this problem 007'

In [162]:
jab = jab.replace('7S','7?\nS')

In [163]:
jab.splitlines()

['Show How You Have solved this problem 007?',
 'Show How You Have solved this problem 007?',
 'Show How You Have solved this problem 007']

In [164]:
jab = jab.replace('\t','\n')

In [165]:
jab

'Show How You Have solved this problem 007?\nShow How You Have solved this problem 007?\nShow How You Have solved this problem 007'

In [166]:
jab = jab.replace('\n',' ')
jab

'Show How You Have solved this problem 007? Show How You Have solved this problem 007? Show How You Have solved this problem 007'

In [167]:
jab

'Show How You Have solved this problem 007? Show How You Have solved this problem 007? Show How You Have solved this problem 007'

In [168]:
x

'What a beauty is this world'

# str.ljust() slightly similar to str.center() except for adding char only to the right side of the string . str.rjust() adds char only on left side.

In [169]:
x.ljust(35, "a")

'What a beauty is this worldaaaaaaaa'

# str.maketrans() Func replaces char to char inputs for a given string

In [171]:
intab = "aeiou"
outtab = "12345"
trantab = str.maketrans(intab, outtab)

str4 = "this is string example....wow!!!"
print (str4.translate(trantab))

th3s 3s str3ng 2x1mpl2....w4w!!!

In [172]:
intab = "aei ou"
outtab = "1 2345"
trantab = str.maketrans(intab, outtab)                                        #$

str = "this is string example....wow!!!"
print (str.translate(trantab))

th2s32s3str2ng3 x1mpl ....w4w!!!

In [173]:
intab = "ae iou"
outtab = "123456"
trantab = str.maketrans(intab, outtab)                

str = "this is string example....wow!!!"
print (str.translate(trantab))

th4s34s3str4ng32x1mpl2....w5w!!!

# str.partition() func separates a string based on the first occurrence of the #separator into 3 strings and gives #output as 3 separate elements of the tuple

In [174]:
x.partition(" a ")

('What', ' a ', 'beauty is this world')

In [175]:
x.partition('b')

('What a ', 'b', 'eauty is this world')

In [176]:
x.partition('ut')

('What a bea', 'ut', 'y is this world')

# str.replace() func

In [177]:
x

'What a beauty is this world'

In [178]:
x.replace('a','i')

'Whit i beiuty is this world'

In [179]:
x.replace('is this','in this')

'What a beauty in this world'

In [180]:
data

'From stephen.marquart@uct.ac.za Sat Jan 5 09:14:16 2008'

In [181]:
data.replace('a','e',3)    # Replace a with e in first 3 occurrences only

'From stephen.merquert@uct.ec.za Sat Jan 5 09:14:16 2008'

In [182]:
data.replace('5','17')

'From stephen.marquart@uct.ac.za Sat Jan 17 09:14:16 2008'

# .r series

.rfind and .rindex are same funcs

In [184]:
data.rfind('u',10,25)  #Finds the index number of the input within the string from the last, start and stop indices can be given

22

In [185]:
data.rindex('u',10,25) #Finds the index number of the input within the string from the last, start and stop indices can be given

22

In [186]:
data.rjust(68, "c")

'cccccccccccccFrom stephen.marquart@uct.ac.za Sat Jan 5 09:14:16 2008'

In [187]:
data.rpartition('@') # str.rpartition() func separates a string based on the last occurrence of the separator into 
                  # 3 strings and gives output as 3 separate elements of the tuple

('From stephen.marquart', '@', 'uct.ac.za Sat Jan 5 09:14:16 2008')

In [188]:
data.rpartition('1')

('From stephen.marquart@uct.ac.za Sat Jan 5 09:14:', '1', '6 2008')

# .split() function

In [189]:
data.rsplit('.',1)  # Takes last occurrence of the separator

['From stephen.marquart@uct.ac', 'za Sat Jan 5 09:14:16 2008']

In [190]:
data.split('.',1)  # Takes first occurrence of the separator

['From stephen', 'marquart@uct.ac.za Sat Jan 5 09:14:16 2008']

In [191]:
tinn.rstrip()  # Strips off whitespaces from the last

'         Benkatraghava'

In [192]:
k='What to do with this boy\nHe is so powerful'
k.splitlines()

['What to do with this boy', 'He is so powerful']

In [193]:
x

'What a beauty is this world'

In [194]:
v = 'askillz born adam mills is an english breakbeat big beat and dance musicianhe has worked across the uk at fabriclive spectrum chew the fat supercharged the boutique and sugarbeat as well as gigs around the world at major events festivals and music industry parties such as the hit factory new york wmc miami and field day sydney in 2003 askillz released his debut album trickatechnology alongside finger lickins krafty kuts the album was a nod towards musical influences like de la soul james brown and jurassic 5 enlisting artists including kurtis blow real elements and ashley slaterfebruary 2004 saw askillz and krafty kuts team up on the trickatechnology tour with live mcs from the album playing shows all over the uk the duo then played at glastonbury festival pacha ibiza and a live session for steve lamacq on bbc radio 1in october 2004 askillz then embarked on his first solo tour of australia which saw him play to sell out crowds in all major capital cities gaining new fans and respect from fellow djs along the way he followed this by extensive gigs in the uk and a busy studio schedule producing music for channel 4 talk back renault tv advert and sony playstation gran turismo 4askillz kicked off 2005 in january with a minimix for annie mac that was later voted best minimix of the year by radio 1 listeners beating industry heavyweights such as basement jaxx mylo and scratch perverts he followed this with a series of remixes including the fort knox five and a rerub of his own track simple thingshighlight gigs last year included 1015 san francisco snow bombing austria mystery lands festival amsterdam homelands uk and live 8 after show party londonaskillz was awarded with the title best dj in february 2012 at the breakspoll international breakbeat awards the awards were hosted at cable in london askillz also picked up the award for best free trackin general a skillz is known for mixing a wide range of genres blending together hip hop soul funk and rock with dubstep drum and bass and electro'

In [195]:
v.splitlines()

['askillz born adam mills is an english breakbeat big beat and dance musicianhe has worked across the uk at fabriclive spectrum chew the fat supercharged the boutique and sugarbeat as well as gigs around the world at major events festivals and music industry parties such as the hit factory new york wmc miami and field day sydney in 2003 askillz released his debut album trickatechnology alongside finger lickins krafty kuts the album was a nod towards musical influences like de la soul james brown and jurassic 5 enlisting artists including kurtis blow real elements and ashley slaterfebruary 2004 saw askillz and krafty kuts team up on the trickatechnology tour with live mcs from the album playing shows all over the uk the duo then played at glastonbury festival pacha ibiza and a live session for steve lamacq on bbc radio 1in october 2004 askillz then embarked on his first solo tour of australia which saw him play to sell out crowds in all major capital cities gaining new fans and respect from fellow djs along the way he followed this by extensive gigs in the uk and a busy studio schedule producing music for channel 4 talk back renault tv advert and sony playstation gran turismo 4askillz kicked off 2005 in january with a minimix for annie mac that was later voted best minimix of the year by radio 1 listeners beating industry heavyweights such as basement jaxx mylo and scratch perverts he followed this with a series of remixes including the fort knox five and a rerub of his own track simple thingshighlight gigs last year included 1015 san francisco snow bombing austria mystery lands festival amsterdam homelands uk and live 8 after show party londonaskillz was awarded with the title best dj in february 2012 at the breakspoll international breakbeat awards the awards were hosted at cable in london askillz also picked up the award for best free trackin general a skillz is known for mixing a wide range of genres blending together hip hop soul funk and rock with dubstep drum and bass and electro']

In [196]:
x.startswith('s')

False

In [197]:
x.startswith('w')

False

In [198]:
x.startswith('W')

True

In [199]:
tinn.strip()

'Benkatraghava'

# str.swapcase() converts lower case letters to upper case and vice versa

In [200]:
x.swapcase()

'wHAT A BEAUTY IS THIS WORLD'

In [201]:
data.swapcase()

'fROM STEPHEN.MARQUART@UCT.AC.ZA sAT jAN 5 09:14:16 2008'

In [202]:
data

'From stephen.marquart@uct.ac.za Sat Jan 5 09:14:16 2008'

In [203]:
abc.swapcase()

'sUPERCALIFRAGILISTIC ACTION45454'

# str.title() makes all words in the string with capitalized starting letters

In [204]:
x.title()

'What A Beauty Is This World'

In [205]:
data.title()

'From Stephen.Marquart@Uct.Ac.Za Sat Jan 5 09:14:16 2008'

In [206]:
data

'From stephen.marquart@uct.ac.za Sat Jan 5 09:14:16 2008'

In [207]:
x.translate()  # encoding related needs revisit

TypeError: translate() takes exactly one argument (0 given)

In [208]:
x.zfill(34)  # width − This is final width of the string. This is the width which we would get after filling zeros.

'0000000What a beauty is this world'

In [209]:
abc.zfill(51)

'0000000000000000000Supercalifragilistic action45454'

In [210]:
t.zfill(85)

'00000000000000000000000000000000000000000000000000supercalifragislisticexpiliadocious'

In [211]:
b =24

In [212]:
b.txt()

AttributeError: 'int' object has no attribute 'txt'