# Python Lists #

In [ ]:
Kinds of functions available for Lists
1. To add elements to the List = .append() takes one element at a time
2. To sort elements of the List = .sort() takes no arguments, sorts either alphabetically or numerically. Works inplace = True
3. To split based on one or many space chars = .split() takes default space char as separator/delimiter, otherwise specified.
   Gives list of words splitted as output.
4. To shallow copy = .copy() gives out shallow copy takes no arguments
5. To count the no.of times specified element is there in the list = .count() gives the number of occurrences of the element 
   within the list.
6. To add another iterable elements to this list = .extend() extracts elements supplied to the func and loads into this list.
   For dictionary it takes only keys and loads into the list. .extend() can take more than one argument. If only one element 
   is supplied then .extend() func splits the element into individual letters and adds to the list. If the same element is 
   supplied within the list, then the element is added as it is in the list. Functions like .append() here. Works inplace = True
7. To get the index number of element given = .index() gives first occurrence index number of the element given in the func 
   within the list.
8. Inserts object(list,tuple,dict) as it is into the list at specified index = .insert() object will become element within list.
9. Removes element of the specified index number = .pop() default index=-1, means deletes the last element and shows it.
10. Removes the element/object/value from the list = .remove() removes the specified value/element/object(list/tuple/dict)
11. Reverses the elements of the list = .reverse(). Works inplace = True
12. Sorts elements of the list alphabetical/numerical but not both = .sort() . Works inplace = True

In [1]:
print([1,24,76])

[1, 24, 76]

In [2]:
print(['red','yellow','blue'])

['red', 'yellow', 'blue']

In [3]:
print(['red',24,98.6])          # Heterogenous lists

['red', 24, 98.6]

In [4]:
# A list can be a Python object - even an another list

print([1,[5,6],28])

[1, [5, 6], 28]

In [5]:
# A list can be empty

print([])

[]

In [6]:
# Lists are mutable

lotto = [2,14,26,41,63]
print(lotto)

[2, 14, 26, 41, 63]

In [7]:
lotto[2] = 29
print(lotto)

[2, 14, 29, 41, 63]

In [8]:
# len() gives no.of characters for a string, no.of elements for a list.

x= ['flksdjflk','kljdfk', "ftiy", 5421, 21214 , 1511]

len(x)

6

In [9]:
print(range(4))
friends = ['Joseph','Glenn','Sally']
print(len(friends))
print(range(len(friends)))

# range(0,4) means [0,1,2,3,4] not including 4

range(0, 4)
3
range(0, 3)

In [3]:
print(range(4))
print(list(range(4)))

range(0, 4)
[0, 1, 2, 3]

In [10]:
friends = ['Joseph', 'Glenn', 'Sally']
for i in friends:
    print('Happy New Year:', i)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [11]:
friends = ['Joseph', 'Glenn', 'Sally']
for i in range(len(friends)):
    friend = friends[i]
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [12]:
range(len(friends))

range(0, 3)

In [13]:
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [81]:
# Slicing of lists

t=[9,41,12,3,74,15]
t[1:3]

[41, 12]

In [5]:
t[:4]

[9, 41, 12, 3]

In [6]:
t[3:]

[3, 74, 15]

In [7]:
t[:]

[9, 41, 12, 3, 74, 15]

In [9]:
x = list()
type(x)

list

In [23]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# .append() func

In [2]:
stuff = list()
stuff.append('Sudheer')
stuff.append('is going to be')
stuff.append('no.')
stuff.append(1)
stuff.append('datascientist')
print(stuff)

['Sudheer', 'is going to be', 'no.', 1, 'datascientist']

In [3]:
type(stuff)

list

In [11]:
some = [1,9,21,10,16]
9 in some

True

In [12]:
5 in some

False

In [13]:
10 in some

True

# .sort() func

In [16]:
friends = ['Rama','Krishna','Narsimhaswamy']
friends.sort()
print(friends)

['Krishna', 'Narsimhaswamy', 'Rama']

In [29]:
Ranks = [45,54,456,545,15,6,8]
Ranks.sort()
print(Ranks)

[6, 8, 15, 45, 54, 456, 545]

In [15]:
nums = [3,41,12,9,74,15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [31]:
total = 0
count = 0
while True:
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    total = total + value
    count = count + 1
average = total/count
print('Average:',average)

Enter a number: 50
Enter a number: 24
Enter a number: 54
Enter a number:

ValueError: could not convert string to float:

In [4]:
numlist = list()
while True:
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    numlist.append(value)
print('Average: ',sum(numlist)/len(numlist))

Enter a number: 1133
Enter a number: 513
Enter a number: 11.
Enter a number: done
Average:  552.3333333333334

# .split() func

In [17]:
# Best friends : Strings and Lists

abc = 'The three Musketeers'
stuff = abc.split()
print(stuff)

['The', 'three', 'Musketeers']

In [18]:
anthem = 'Jana        gana mana    adhinayaka'
anthem.split()

['Jana', 'gana', 'mana', 'adhinayaka']

In [19]:
sdf = 'Function halls, Banquet halls, Flower decorations'
sdf.split()                                                # By default uses space delimiter

['Function', 'halls,', 'Banquet', 'halls,', 'Flower', 'decorations']

In [20]:
for w in stuff:
    print(w)

The
three
Musketeers

In [21]:
print(len(stuff))
stuff[0]

3

'The'

In [22]:
line = "A lot              of spaces"
etc  = line.split()
print(etc)

['A', 'lot', 'of', 'spaces']

In [23]:
line = 'Rama;Krishna;Laxminarsimha'
thing = line.split()
print(thing)

['Rama;Krishna;Laxminarsimha']

In [24]:
print(len(thing))

1

In [30]:
thing = line.split(';')
print(thing)

['Rama', 'Krishna', 'Laxminarsimha']

In [26]:
print(len(thing))

3

In [15]:
fhand = open('mbox-short.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From '): continue
    words = line.split()
    print(words[2])

Sat
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Thu
Thu
Thu
Thu
Thu
Thu

In [16]:
line = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
words = line.split()
print(words)

['From', 'stephen.marquard@uct.ac.za', 'Sat', 'Jan', '5', '09:14:16', '2008']

In [17]:
words = line.split()
words

['From', 'stephen.marquard@uct.ac.za', 'Sat', 'Jan', '5', '09:14:16', '2008']

In [18]:
email = words[1]
email

'stephen.marquard@uct.ac.za'

In [19]:
pieces = email.split('@')
pieces

['stephen.marquard', 'uct.ac.za']

In [20]:
pieces[1]

'uct.ac.za'

In [21]:
# list.copy creates a shallow copy of the list

In [31]:
semi = thing.copy()

In [32]:
semi

['Rama', 'Krishna', 'Laxminarsimha']

In [ ]:
# list.clear clears all the elements from the list

In [31]:
semi.clear()

In [32]:
semi

[]

# list.count(element) gives the count of element occuring no.of times in the list

In [26]:
semi.count('Rama')

0

In [27]:
semi

['Rama;Krishna;Laxminarsimha']

In [28]:
semi.append(2)

In [29]:
semi.count(2)

1

# .extend(iterable) adds iterable to the list

In [4]:
stuff

['Sudheer', 'is going to be', 'no.', 1, 'datascientist']

In [30]:
Ranks

[6, 8, 15, 45, 54, 456, 545]

In [31]:
semi.extend(stuff)

In [32]:
print(semi)

['Rama', 'Krishna', 'Laxminarsimha', 2, 'Sudheer', 'is going to be', 'no.', 1, 'datascientist']

In [33]:
semi.extend(Ranks)

In [34]:
print(semi)

['Rama', 'Krishna', 'Laxminarsimha', 2, 'Sudheer', 'is going to be', 'no.', 1, 'datascientist', 6, 8, 15, 45, 54, 456, 545]

In [35]:
few = (6, 8, 15, 45,)

In [36]:
semi.extend(few)          # Here few is a tuple, extend func takes elements from tuple and adds them to the list.

In [37]:
semi

['Rama',
 'Krishna',
 'Laxminarsimha',
 2,
 'Sudheer',
 'is going to be',
 'no.',
 1,
 'datascientist',
 6,
 8,
 15,
 45,
 54,
 456,
 545,
 6,
 8,
 15,
 45]

In [38]:
list44 = [4,5,6,7]
list44.extend(['Gaurav','Sharma']) # should be in list format & should be only one list not many & list within list is also allowed
print(list44)

[4, 5, 6, 7, 'Gaurav', 'Sharma']

In [39]:
list44.extend(['Electronics','Bags'],['Ajanta','Casio','Rado']) # Not allowed

TypeError: extend() takes exactly one argument (2 given)

In [40]:
list44.extend(['Electronics','Bags',['Ajanta','Casio','Rado']])
print(list44)

[4, 5, 6, 7, 'Gaurav', 'Sharma', 'Electronics', 'Bags', ['Ajanta', 'Casio', 'Rado']]

In [37]:
purse = dict()
purse['money'] = 12
purse['candy'] = 3
purse['tissues'] = 75
purse

{'money': 12, 'candy': 3, 'tissues': 75}

In [42]:
semi.extend(purse)     # If the iterable is a dictionary, extend func adds keys of that dict to list

In [46]:
semi

['Rama',
 'Krishna',
 'Laxminarsimha',
 2,
 'Sudheer',
 'is going to be',
 'no.',
 1,
 'datascientist',
 6,
 8,
 15,
 45,
 54,
 456,
 545,
 6,
 8,
 15,
 45,
 'money',
 'candy',
 'tissues']

In [ ]:
# list.index gives index number of the element present in the list.

In [55]:
semi.index('money',0,25)# Gives the index number of element under search starts at 0th index and ends at 24th index(25 no count)

20

In [49]:
semi[0] = 'Shiva'

In [51]:
semi.index('Krishna') # If a element is present more than once, then the first occurrence index number is given out.

1

# list.insert(index, object)  func inserts object at specified index in the list

In [33]:
semi.insert(1, 'Vinayaka')

In [38]:
print(semi)

['Rama', 'Vinayaka', 'Krishna', 'Laxminarsimha']

In [39]:
purse

{'money': 12, 'candy': 3, 'tissues': 75}

In [40]:
semi.insert(3, purse)

In [42]:
print(semi)

['Rama', 'Vinayaka', 'Krishna', {'money': 12, 'candy': 3, 'tissues': 75}, 'Laxminarsimha']

In [49]:
semi.pop()
print(semi)

['Rama', 'Vinayaka', 'Krishna', 'Laxminarsimha']

In [129]:
semi.insert(1, ('Brahma','Vishnu','Maheshwara'))

In [130]:
print(semi)

['Shiva', ('Brahma', 'Vishnu', 'Maheshwara'), 'Vinayaka', 'Krishna', 'Laxminarsimha', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 6, 8, 15, 45, 'money', 'candy', 'tissues']

In [131]:
semi.insert(14, 'Monitor&Mouse')

In [132]:
print(semi)

['Shiva', ('Brahma', 'Vishnu', 'Maheshwara'), 'Vinayaka', 'Krishna', 'Laxminarsimha', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Monitor&Mouse', 'Rama', 6, 8, 15, 45, 'money', 'candy', 'tissues']

In [135]:
semi.insert(15,['Intelinside','pentium4'])

In [136]:
print(semi)

['Shiva', ('Brahma', 'Vishnu', 'Maheshwara'), 'Vinayaka', 'Krishna', 'Laxminarsimha', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Monitor&Mouse', ['Intelinside', 'pentium4'], ['Intelinside'], 'Rama', 6, 8, 15, 45, 'money', 'candy', 'tissues']

# list.pop() func removes elements of the list (from the last by default(index=-1))

In [138]:
semi.pop()

'candy'

In [140]:
semi.pop(14)   # At particular index number

'Monitor&Mouse'

In [141]:
semi.pop(10)   # At particular index number

'Rama'

# list.remove(element) # Removes the first instance of the element in the list.

In [59]:
semi

['Shiva',
 'Vinayaka',
 'Krishna',
 'Laxminarsimha',
 2,
 'Sudheer',
 'is going to be',
 'no.',
 1,
 'datascientist',
 6,
 8,
 15,
 45,
 54,
 456,
 545,
 6,
 8,
 15,
 45,
 'money',
 'candy',
 'tissues']

In [60]:
semi.remove('Sudheer')

In [55]:
print(semi)

['Rama', 'Vinayaka', 'Krishna', 'Laxminarsimha', ['B', 'V', 'M']]

In [50]:
semi.append(['B','V','M'])

In [52]:
semi.append(purse)

In [54]:
semi.remove(purse)

In [68]:
semi.remove(['B','V','M'])

In [69]:
print(semi)

['Shiva', 'Vinayaka', 'Krishna', 'Laxminarsimha', 2, 'is going to be', 'no.', 1, 'datascientist', 6, 8, 15, 45, 54, 456, 545, 6, 8, 15, 45, 'money', 'candy', 'tissues']

In [72]:
semi.remove(45)

In [73]:
print(semi)

['Shiva', 'Vinayaka', 'Krishna', 'Laxminarsimha', 2, 'is going to be', 'no.', 1, 'datascientist', 6, 8, 15, 54, 456, 545, 6, 8, 15, 'money', 'candy', 'tissues']

# list.reverse() reverses the arrangement of elements of a list

In [74]:
semi.reverse()

In [75]:
print(semi)

['tissues', 'candy', 'money', 15, 8, 6, 545, 456, 54, 15, 8, 6, 'datascientist', 1, 'no.', 'is going to be', 2, 'Laxminarsimha', 'Krishna', 'Vinayaka', 'Shiva']

In [76]:
semi.reverse()

In [77]:
print(semi)

['Shiva', 'Vinayaka', 'Krishna', 'Laxminarsimha', 2, 'is going to be', 'no.', 1, 'datascientist', 6, 8, 15, 54, 456, 545, 6, 8, 15, 'money', 'candy', 'tissues']

In [157]:
semi.sort() # doesn't function when one of the elements are tuple or str

TypeError: '<' not supported between instances of 'tuple' and 'str'

In [158]:
semi.remove(('Brahma', 'Vishnu', 'Maheshwara'))

In [160]:
print(semi)

['Shiva', 'Vinayaka', 'Krishna', 'Laxminarsimha', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', ['Intelinside', 'pentium4'], ['Intelinside'], 'Rama', 6, 8, 15, 'money']

In [163]:
semi.remove(['Intelinside'])

In [164]:
print(semi)

['Shiva', 'Vinayaka', 'Krishna', 'Laxminarsimha', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 'Rama', 6, 8, 15, 'money']

# list.sort() func works only on int lists or alphabetical lists and not on heterogenous lists

In [78]:
semi.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [82]:
t

[9, 41, 12, 3, 74, 15]

In [83]:
t.sort()

In [84]:
t

[3, 9, 12, 15, 41, 74]

In [85]:
abc = ['Zen','Xavier', 'Tom','Jerry']

In [86]:
abc.sort()

In [87]:
abc

['Jerry', 'Tom', 'Xavier', 'Zen']

In [173]:
list1=list(range(5,20,2))
list1

[5, 7, 9, 11, 13, 15, 17, 19]

In [174]:
for valueholder in list1:
    print(valueholder)

5
7
9
11
13
15
17
19

In [175]:
for valueholder in range(4,12):
    print(valueholder)

4
5
6
7
8
9
10
11

In [176]:
for character in 'hello world':
    print(character)

h
e
l
l
o

w
o
r
l
d

In [177]:
len(list1)

8

In [178]:
list1

[5, 7, 9, 11, 13, 15, 17, 19]

In [179]:
for index in range(len(list1)):
    print(list1[index])

5
7
9
11
13
15
17
19

In [180]:
n = int(input('give the number for factorial'))
fact=1
for index in range(1,n+1):
    fact=fact*index
print(fact)

give the number for factorial5
120

In [181]:
count=1
for i in range(10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [182]:
fruits = ['Banana','Apple','Grapes']
for index in range(len(fruits)):
    print(fruits[index])

Banana
Apple
Grapes

In [183]:
list1

[5, 7, 9, 11, 13, 15, 17, 19]

In [184]:
list1*2

[5, 7, 9, 11, 13, 15, 17, 19, 5, 7, 9, 11, 13, 15, 17, 19]

In [185]:
stringval = '5'

In [186]:
stringval*8

'55555555'

# Trick

In [187]:
for i in range(1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [188]:
for i in range(1,10):
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [189]:
for i in range(1,5):
    print(i,end="")

1234

In [190]:
for i in range(1,10):
    for j in range(1,i+1):
        print(i,end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

for 2 in range(1,10):
    for 1 in range(1,2+1):
        print(2,end="")
    for 2 in range(1,2+1):
        print(2,end="")
    print()

for 3 in range(1,10):
    for 1 in range(1,3+1):
        print(3,end="")
    for 2 in range(1,3+1):
        print(3,end="")
    for 3 in range(1,3+1):
        print(3,end="")
    print()

j times we are printing i

In [192]:
guess=13
while True:
    var = int(input('guess the value: '))
    if var==guess:
        print('great work')
        break
    else:
        print('reenter the number')
print('now you are out of loop')

guess the value: 12
reenter the number
guess the value: 13
great work
now you are out of loop

In [196]:
for i in range(1,21):
    if (i%2!=0 and i%5!=0):
        print(i)

1
3
7
9
11
13
17
19

In [197]:
for i in range(1,21):
    if (i%2!=0 and i%5!=0):
        print(i, end="")

137911131719

In [200]:
for i in range(1,9):
    if (i%2==0):
        continue
    print('printing value')
    print(i)

printing value
1
printing value
3
printing value
5
printing value
7

In [202]:
for i in range(1,20):
    if (i%2==0):
        break
    print('printing value')
    print(i)

printing value
1

In [267]:
for i in range(1,4):
    if (i%2==0):
        pass
    print('printing value')
    print(i)

printing value
1
printing value
2
printing value
3

In [206]:
for j in range(1,11):
    if (j==5):
        continue
    print(j, end="")

1234678910

In [207]:
for i in range(1,51):
    pass

if (True):
    pass
else:
    pass

In [208]:
list1 = list(range(0,9))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [209]:
list2=list(range(50,61))

In [210]:
list3=list1+list2
list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [211]:
list1*2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [212]:
20 in list3

False

In [213]:
54 in list3

True

In [217]:
list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [214]:
list3[9]

50

In [215]:
list3[13]

54

In [238]:
list3[0:8]

[0, 1, 2, 3, 4, 5, 6, 7]

In [239]:
list3[0:8:-1]

[]

In [240]:
list3[0:8:-2]

[]

In [216]:
list3[3:11:2]  # From 3 to 11 indices every 2nd element of list3

[3, 5, 7, 50]

In [218]:
list3[3:13:3]  # From 3 to 13 indices every 3rd element of list3

[3, 6, 50, 53]

In [219]:
list3[-1]

60

In [220]:
list3[-2]

59

In [221]:
list3[::]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [222]:
list3[:8:]

[0, 1, 2, 3, 4, 5, 6, 7]

In [223]:
list3[10::]

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [224]:
list3[10::2]

[51, 53, 55, 57, 59]

In [225]:
list3[::-1]

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [231]:
list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [233]:
list3[0:11:-1]

[]

In [234]:
list3[0:7:-1]

[]

# When we are slicing in the reverse direction, order should also be in the reverse

In [244]:
list3[7:0:-1]  # When we are slicing in the reverse direction, order should also be in the reverse

[7, 6, 5, 4, 3, 2, 1]

In [245]:
list3[7:0:-2]

[7, 5, 3, 1]

In [227]:
len(list1)

9

In [228]:
list3[0:len(list1):-1]

[]

In [230]:
len(list3)

20

In [229]:
list3[len(list3)::-1]

[60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [246]:
list3[:len(list3):-1]     # Order is not reverse that's why returning empty list

[]

In [247]:
list3[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [248]:
list3[10:-1:2]

[51, 53, 55, 57, 59]

In [249]:
list3[10::2]

[51, 53, 55, 57, 59]

In [250]:
list3[::2]

[0, 2, 4, 6, 8, 51, 53, 55, 57, 59]

In [251]:
stringval="Hello world"

In [252]:
stringval[::]

'Hello world'

In [253]:
stringval[::-1]

'dlrow olleH'

In [254]:
stringval==stringval[::-1]

False

In [255]:
del list3[0] # del can also delete complete list

In [256]:
list3

[1, 2, 3, 4, 5, 6, 7, 8, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [257]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(list1.pop(3))   # pop is used when we remove by position or index, default index is -1(removes last element of the list)

In [258]:
list1.pop(2)

2

In [259]:
list1

[0, 1, 3, 4, 5, 6, 7, 8]

In [260]:
list3.remove(60)

In [261]:
list3.remove(58)

In [262]:
list3

[1, 2, 3, 4, 5, 6, 7, 8, 50, 51, 52, 53, 54, 55, 56, 57, 59]

In [263]:
list3.pop()  # Removes last element if no arg is passed

59

In [264]:
list4 = [6,6,7,9]

In [265]:
list4.remove(6) # Removes first occurence of value

In [266]:
list4

[6, 7, 9]