In [1]:
x=1+2*3-4/5

In [2]:
x

6.2

In [6]:
nam = input('Who  are you?')
print ('Welcome', nam)

Who  are you?DI-Team Member
Welcome DI-Team Member

In [8]:
inp = input('Europe  floor?')
usf = int(inp)+1
print('US floor', usf)

Europe  floor?6
US floor 7

In [29]:
name = input('Enter file:')
handle = open(name, 'r')
text = handle.read()
words = text.split()

Enter file:polarity_pos.txt

In [30]:
counts =dict()
for word in words:
    counts[word] = counts.get(word,0) + 1

In [31]:
bigcount = None
bigword = None
for word, count in counts.items():
    if bigcount is None or count > bigcount:
        bigword = word
        bigcount = count

In [32]:
print(bigword, bigcount)

. 14009

In [37]:
x = input('Enter Hours:')
y = input('Enter Rate:')
pay = int(x)*float(y)
print('Pay',pay)

Enter Hours:35
Enter Rate:2.75
Pay 96.25

In [39]:
x = 5
print ('Before 5')
if x == 5:
    print ('is 5')
    print ('Is still 5')
    print ('Third 5')
print ('Afterwards 5')    
print ('Before 6')
if x == 6:
    print ('Is 6')
    print ('Is Still 6')
    print ('Third 6')
print ('Afterwards 6')

Before 5
is 5
Is still 5
Third 5
Afterwards 5
Before 6
Afterwards 6

In [56]:

astr = 'Bob'
try:
    print('Hello')
    ist = int(astr)
    print('There')
except:
    istr = -1
print('Done', istr)

Hello
Done -1

In [59]:
x = input('Enter Hours:')
y = input('Enter Rate:')
try:
    x = int(x)
    y = int(y)
    if x > 40:
        pay =(x*y) + (x-40)*(1.5*y)
    else:
        pay = x*y
    print('Pay',pay)
except:
    print('Not a number')

Enter Hours:41
Enter Rate:10
Pay 425.0

In [75]:
x =43
y =10
extra_hours = x - 40
extra_rate = 1.5*y
if x > 40:
        pay =(x*y) + extra_hours*extra_rate
else:
        pay = x*y
print('Pay', pay)

Pay 475.0

In [67]:
hrs = input("Enter hours: ")
rt = input("Enter rate: ")
hours = float(hrs)
rate = float(rt)

if hours > 40:
    extra_hours = hours - 40
    extra_rate = rate * 1.5
    pay = rate * hours + (extra_rate * extra_hours)
    print ("Pay:", pay)
else:
    pay = rate * hours
    print ("Pay:", pay)

Enter hours: 45
Enter rate: 10
Pay: 525.0

In [78]:
def thing():
    print ('Hello')
    print ('Fun')
    
thing()
print ('Zip')
thing()

Hello
Fun
Zip
Hello
Fun

In [82]:
big = max('Hello world')
print(big)

w

In [80]:
tiny = min('Hello world')
print(tiny)

In [84]:
def print_lyrics():
    print ("I'am a lumberjack, and I'am okay.")
    print ("I sleep all the night and I work all the day.")

    
print_lyrics()

I'am a lumberjack, and I'am okay.
I sleep all the night and I work all the day.

In [85]:
x = 5
print('Hello')

def print_lyrics():
    print ("I'am a lumberjack, and I'am okay.")
    print ("I sleep all the night and I work all the day.")
    
print('Yo')
x = x+2
print(x)

Hello
Yo
7

In [86]:
x = 5
print('Hello')

def print_lyrics():
    print ("I'am a lumberjack, and I'am okay.")
    print ("I sleep all the night and I work all the day.")
    
print('Yo')
print_lyrics()
x = x+2
print(x)

Hello
Yo
I'am a lumberjack, and I'am okay.
I sleep all the night and I work all the day.
7

In [88]:
def greet(lang):
    if lang == 'es':
        print('Hola')
    elif lang == 'fr':
        print('Bonjour')
    else:
        print('Hello')

greet('es')
greet('fr')
greet('en')

Hola
Bonjour
Hello

In [89]:
def greet(lang):
    if lang == 'es':
        return "Hola"
    elif lang == 'fr':
        return "Bonjour"
    else:
        return "Hello"

print (greet('es'), 'Glenn')
print (greet('fr'), 'Sally')
print (greet('en'), 'Michael')

Hola Glenn
Bonjour Sally
Hello Michael

In [91]:
def addtwo(a,b):
    added = a+b
    return added

x = addtwo(5,6)
print (x)

11

In [99]:
def computepay(hrs, rate):
    if hrs > 40:
        extra_hours = hrs - 40
        extra_rate = rate * 1.5
        pay = rate * hours + (extra_rate * extra_hours)
        print ("Pay:", pay)
    else:
        pay = rate * hours
        print ("Pay:", pay)

    
computepay(45,10)

Pay: 525.0

In [1]:
while True:
    line = input('>  ')
    if line == 'done':
        break
    print(line)
print('Done')

>  djflkjd
djflkjd
>  lkdjflk
lkdjflk
>  kdjflk
kdjflk
>  done
Done

In [104]:
for i in [5,4,3,2,1]:
    print (i)
print ('Blastoff!')

5
4
3
2
1
Blastoff!

In [106]:
friends = ['Chetan','Ramesh','Karthik']
for friend in friends:
    print('Happy new year: ', friend)
print('Done')

Happy new year:  Chetan
Happy new year:  Ramesh
Happy new year:  Karthik
Done

In [107]:
print('Before')
for thing in [9,41,12,3,74,15]:
    print(thing)
print('After')

Before
9
41
12
3
74
15
After

In [2]:
largest_so_far = -1
print('Before', largest_so_far)
for the_num in [9,41,12,3,74,15]:
    if the_num > largest_so_far:
        largest_so_far = the_num
    print(largest_so_far, the_num)
print('After',largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [114]:
# To count how many times we execute a loop, we introduce a counter variable that starts at 0 and we add one to it each time
# through the loop.

zork = 0
print('Before', zork)
for thing in [9,41,12,3,74,15]:
    zork = zork + 1
    print(zork, thing)
print('After', zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

In [115]:
# Adding up

zork = 0
print('Before', zork)
for thing in [9,41,12,3,74,15]:
    zork = zork + thing
    print(zork, thing)
print('After', zork)

Before 0
9 9
50 41
62 12
65 3
139 74
154 15
After 154

In [116]:
# Average

count = 0
sum = 0
print('Before',count, sum)
for value in [9,41,12,3,74,15]:
    count = count + 1
    sum = sum + value
    print(count,sum,value)
print('After', count,sum, sum/count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [117]:
# Filtering in a loop

print('Before')
for value in [9,41,12,3,74,15]:
    if value> 20:
        print('Large number', value)
print('After')

Before
Large number 41
Large number 74
After

In [118]:
# Search using a Boolean Variable

found = False
print('Before', found)
for value in [9,41,12,3,74,15]:
    if value == 3:
        found = True
    print(found, value)
print('After',found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

In [119]:
# Search using a Boolean Variable - Sudheer's touch

found = False
print('Before', found)
for value in [9,41,12,3,74,15]:
    found = False
    if value == 3:
        found = True
    print(found, value)
print('After',found)

Before False
False 9
False 41
False 12
True 3
False 74
False 15
After False

In [1]:
# Finding the smallest value

smallest_so_far = -1
print('Before', smallest_so_far)
for the_num in [9,41,12,3,74,15]:
    if the_num < smallest_so_far:
        smallest_so_far = the_num
    print(smallest_so_far, the_num)
print('After', smallest_so_far)

Before -1
-1 9
-1 41
-1 12
-1 3
-1 74
-1 15
After -1

In [6]:
smallest = None
print('Before')
for value in [9,41,12,3,74,15]:
    if smallest is None:
        smallest = value
    elif value < smallest:
        smallest = value
    print(smallest, value)
print('After',smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

NoneType

In [8]:
smallest = None
print('Before')
for value in [3,41,12,9,74,15]:
    if smallest is None:
        smallest = value
    elif value < smallest:
        smallest = value
    print(smallest, value)
print('After',smallest)

Before
3 3
3 41
3 12
3 9
3 74
3 15
After 3

In [4]:
apple = int(input('Enter:'))

Enter:100

In [5]:
x = apple - 10

In [6]:
x = int(apple) - 10
print(x)

90

In [7]:
fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [8]:
x = 3
w = fruit[x-1]
print(w)

n